<!DOCTYPE html>
<html>
  <head>
    <title>El Espeluznante Sitio Web de Masha</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="scripts/validations.js"></script>
  </head>
  <body class="on load add .loaded to body">
    <!-- Top bar -->
    <nav class="bg-black text-white p-3">
      <span
        class="navbar-brand mb-0 h1 cursor-pointer"
        onclick="window.location.href='/';"
      >
        El espeluznante sitio web de Masha
      </span>
    </nav>

    <div class="flex">
      <!-- Left bar -->
      <div class="sidebar">
        <!-- Replace with your icons -->
        <ul class="w-full">
          <li>
            <a href="#" class="sidebar-header" _="on click toggle .active on me"
              >Mashaherramientas
            </a>
          </li>
          <li>
            <a href="/anuncios" class="sidebar-item.active" _="on click toggle .active on me"
              ><img src="/static/icons/anuncios.svg" alt="Home Icon" class="icon"/>
              Anuncios
            </a>
          </li>
          <li>
            <a href="/senado" class="sidebar-item" _="on click toggle .active on me"
              ><img src="/static/icons/encuestas.svg" alt="Home Icon" class="icon"/>
              Votaciones</a
            >
          </li>
          <li>
            <a href="#" class="sidebar-item" _="on click toggle .active on me"
              >Próximamente nombres de pingüino</a
            >
          </li>
        </ul>
      </div>

      <!-- Main content -->
      <div class="w-5/6 p-3">
        <!-- Banner -->
        <!-- Banner -->
        <div class="p-3">
          <div class="announcementBanner p-5">
            <h1 class="text-4xl">Anuncios</h1>
          </div>
        </div>

        <!-- Cards -->
        <div
          class="flex flex-wrap"
          hx-get="/api/getAnunciosHtml"
          hx-trigger="load"
          hx-headers='{"Authorization": "fantadepina"}'
        ></div>
      </div>
    </div>
  </body>
  <footer id="footer" class="flex justify-end">
    <div class="mainButton mr-6" _="on click add .is-active to #modal">
      <img src="static/icons/Vector.svg" alt="Add" class="mr-2" />
      Craftear anuncio
    </div>
    <div id="overlay" class="overlay hidden"></div>
    <div id="modal" class="modal">
      <div class="modal-content">
        <span
          class="close text-white cursor-pointer w-full flex flex-grow justify-end"
          _="on click remove .is-active from #modal then call clearAnuncioForm()"
          >&times;
        </span>
        <form
          id="anuncioForm"
          onsubmit="return validateAnuncioForm()"
          hx-post="/api/createAnuncio"
          hx-trigger="submit"
          hx-swap="beforeend"
          hx-headers='{"Authorization": "fantadepina"}'
        >
          <div class="flex flex-wrap">
            <label class="label text-left" for="title">Título:</label><br />
            <input type="text" id="title" name="title" class="input" />
          </div>
          <div class="flex flex-wra mt-2">
            <label class="label text-left" for="description">Descripción:</label
            ><br />
            <input
              type="text"
              id="description"
              name="description"
              class="input"
            />
          </div>
          <div id="errorMessages"></div>
          <!-- Add more fields as necessary -->
          <button class="mt-4 mainButton" type="submit">Subir</button>
        </form>
      </div>
    </div>
  </footer>
</html>
