<!DOCTYPE html>
<html>
  <head>
    <title>El espeluznante sitio web de Masha</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/styles/styles.css" />
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://unpkg.com/hyperscript@0.0.3/dist/hyperscript.min.js"></script>
  </head>
  <body class="bg-gray-200" _="on load add .loaded to body">
    <!-- Top bar -->
    <nav class="bg-black text-white p-3">
      <span class="navbar-brand mb-0 h1"
        >El espeluznante sitio web de Masha</span
      >
    </nav>

    <div class="flex">
      <!-- Left bar -->
      <div class="w-1/6 bg-white p-3">
        <!-- Replace with your icons -->
        <ul>
          <li>
            <a href="#" class="block py-1" _="on click toggle .active on me"
              >Icon 1</a
            >
          </li>
          <li>
            <a href="#" class="block py-1" _="on click toggle .active on me"
              >Icon 2</a
            >
          </li>
          <li>
            <a href="#" class="block py-1" _="on click toggle .active on me"
              >Icon 3</a
            >
          </li>
        </ul>
      </div>

      <!-- Main content -->
      <div class="w-5/6 p-3">
        <!-- Banner -->
        <!-- Banner -->
        <div class="p-3">
          <div class="announcementBanner p-5">
            <h1 class="text-4xl">Anuncios</h1>
          </div>
        </div>

        <!-- Cards -->
        <div class="flex flex-wrap">
          <div class="w-full sm:w-1/2 md:w-1/3 p-3">
            <div
              class="component rounded shadow p-5"
              _="on click add .clicked to me"
            >
              <div class="header text-xl">Anuncio 1</div>
              <div class="messageContent pt-4" hx-get="/api/getAnunciosHtml" hx-trigger="load" hx-headers='{"Authorization": "fantadepina"}'>
                <!-- Content will be loaded here -->
            </div>
            </div>
          </div>
          <!-- Repeat for more cards -->
        </div>
      </div>
    </div>
  </body>
</html>
