<!DOCTYPE html>
<html>
    <head>
        <title>El Espeluznante Sitio Web de Masha</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="static/styles/styles.css"
        />
        <script src="https://unpkg.com/htmx.org@1.9.9"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
        <script>
            function playSound() {
                document.getElementById('feature-sound').play();
            }
            </script>
    </head>
    <body>
        <header>
            <h1>¡Bienvenido al Espeluznante Sitio Web de Masha!</h1>
        </header>

        <section class="hero">
            <h2>Entra si te atreves...</h2>
            <p>
                Prepárate para un escalofriante viaje a través de los oscuros
                rincones del mundo de Masha.
            </p>
            <a
                href="/edit/test"
                hx-get="/edit/test"
                hx-swap="outerHTML"
                class="btn"
                _="on click add .loading to me"
                >Aprende Más</a
            >
        </section>

        <section class="features">
            <div class="feature" onclick="playSound()" _="on click toggle .clicked on me">
                <h3>Tablón de Anuncios</h3>
                <p>
                    Mira los últimos anuncios de Masha y sus amigos.
                </p>
            </div>
            <div class="feature" onclick="playSound()" _="on click toggle .clicked on me">
                <h3>Cuentos Fantasmales</h3>
                <p>
                    Lee historias escalofriantes que te pondrán los pelos de
                    punta.
                </p>
            </div>
            <div class="feature" onclick="window.location.href='/view/test';" _="on click toggle .clicked on me">
                <!-- More content here -->
            </div>
        </section>
        <audio
            id="feature-sound"
            src="static/sounds/2woof.mp3"
            preload="auto"
        ></audio>
    </body>
</html>
