<div class="mainButton"
    _="on click add .is-active to #modal"
>
    Craftear anuncio
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" _="on click remove .is-active from #modal">&times;</span>
        <form id="anuncioForm">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description"><br>
            <!-- Add more fields as necessary -->
            <input type="submit" value="Submit">
        </form>
    </div>
</div>