<div class="sidebar full-screen-minus-navbar">
  <!-- Replace with your icons -->
  <ul class="w-full">
    <li>
      <a href="#" class="sidebar-header" _="on click toggle .active on me"
        >Mashaherramientas
      </a>
    </li>
    <li>
      <a href="/anuncios" class="sidebar-item" _="on click toggle .active on me"
        ><img src="/static/icons/anuncios.svg" alt="Home Icon" class="icon" />
        Anuncios
      </a>
    </li>
    <li>
      <a
        href="/senado"
        class="sidebar-item active"
        _="on click toggle .active on me"
        ><img src="/static/icons/encuestas.svg" alt="Home Icon" class="icon" />
        Votaciones</a
      >
    </li>
    <li>
      <a href="#" class="sidebar-item" _="on click toggle .active on me"
        >Próximamente nombres de pingüino</a
      >
    </li>
  </ul>
</div>
